body {
  padding: 0;
  margin: 0;
}
h1 {
  font-family: "Lobster", cursive;
  font-size: 2rem;
}
.container {
  background-color: black;
  font-style:white;
  


  height: 400px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
